DB_HOST='database'
DB_NAME='wordpress' # should match MYSQL_DATABASE below
DB_USER='wordpress' # should match MYSQL_USER below
DB_PASSWORD='example_password' # should match MYSQL_PASSWORD below
# DB_PREFIX='wp_'

WP_ENV='development'

WP_HOME="http://127.0.0.1:8080"
WP_SITEURL="${WP_HOME}/wp"

# Specify optional debug.log path
# WP_DEBUG_LOG='/path/to/debug.log'

# Generate your keys here: https://roots.io/salts.html
AUTH_KEY='generateme'
SECURE_AUTH_KEY='generateme'
LOGGED_IN_KEY='generateme'
NONCE_KEY='generateme'
AUTH_SALT='generateme'
SECURE_AUTH_SALT='generateme'
LOGGED_IN_SALT='generateme'
NONCE_SALT='generateme'

NOMAD_ADDR_fastcgi="fpm:9000"
APP_DOMAIN="localhost"

MYSQL_ROOT_PASSWORD='example_password'
MYSQL_DATABASE='wordpress' # should match DB_NAME above
MYSQL_USER='wordpress' # should match DB_USER above
MYSQL_PASSWORD='example_password' # should match DB_PASSWORD above

PMA_HOST="database"
